<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.sidvenu.saltanalysis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_material_chemical"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RadicalListActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.TranslucentActionBar"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".DisplayRadicalActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".RadicalListActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".GroupSeparationActivity"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme.Fullscreen"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".LongProcedureActivity"
            android:label="Long Procedure"
            android:theme="@style/AppTheme.NoActionBar.Blue"
            tools:targetApi="jelly_bean" />
    </application>

</manifest>